:root {
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

body {
    background-color: var(--Cream);
    min-height: 100vh;
    display: grid;
    place-items: center;
}

.container {
    border-radius: 10px;
    padding: 50px 80px 50px 250px;
    background-color: var(--White);
    background-image: url(images/image-product-desktop.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-clip: padding-box;
}

.attribution {
   
}

.perfume {
    margin-left: 100px;
    color: var(--Dark-grayish-blue);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.Gabrielle {
    margin-left: 100px;
    color: var(--Very-dark-blue);
    font-family: 'Fraunces', serif;
}

.par-um {
    margin-left: 100px;
    color: var(--Dark-grayish-blue);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.valores {
    display: grid;
    gap: 1px;
}

.valor-um {
    margin-left: 100px;
    color: var(--Dark-cyan);
    font-family: 'Fraunces', serif;
    font-size: 20px;
    grid-column-start: 1;
    grid-column-end: 2;
}

.valor-dois {
    margin-left: 10px;
    margin-top: 38px;
    color: var(--Dark-grayish-blue);
    text-decoration: line-through;
    grid-column-start: 2;
    grid-column-end: 2;
}

.botão {
    cursor: pointer;
    padding: 15px;
    padding-left: 80px;
    padding-right: 80px;
    text-align: center;
    margin-left: 100px;
    text-align: center;
    color: var(--White);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    border: 1px solid var(--Dark-cyan);
    border-radius: 10px;
    background-color: var(--Dark-cyan);
}

.attribution {
    display: flex;
}